:root {
    --azul-escuro: #2c7bb6;
    --azul-medio: #3182bd;
    --azul-claro: #a6c8e2;
    --azul-fundo-card: #6baed6;
    --bege-claro: #f5f0d7;
    --texto-escuro: #1e354f;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #fcf7e7; /* Bege mais claro para evitar tom esverdeado e pesado */
    color: var(--texto-escuro);
    margin: 0;
    padding: 0;
}

/* Top Bar */
.top-bar {
    background-color: var(--azul-claro);
    padding: 8px 0;
    font-size: 0.9rem;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.whatsapp-icon {
    width: 50px; /* Um tamanho menor para acompanhar o texto de 0.9rem */
    margin-bottom:-20px;
    margin-top:-20px;
    height: auto;
    display: block;
}

/* Navbar */
.navbar-custom {
    background-color: var(--azul-claro);
    padding: 10px 0;
}

.search-bar {
    background-color: #ffffff;
    border: 1px solid var(--azul-claro);
    border-radius: 20px; /* Bordas mais arredondadas e modernas */
    padding: 6px 15px;
    width: 100%;
    max-width: 250px;
    color: var(--texto-escuro);
    outline: none;
}

.nav-links a {
    color: var(--texto-escuro);
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
    font-size: 0.95rem;
}

.logoImg {
    width: 60px;
    height: auto;
    border-radius: 30px;
}

.Banner {
    width: 100%;
    height: auto;
    display: block;
}

/* Título das Seções */
.section-title-bar {
    background-color: var(--azul-escuro);
    color: white;
    text-align: center;
    padding: 16px 0;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

/* Grid de Produtos (Estilo Nuvem Clean) */
.products-section {
    background-color: transparent;
    padding: 50px 0;
}

/* Botão Veja Tudo */
.btn-veja-tudo {
    background-color: var(--azul-escuro);
    color: white;
    padding: 10px 40px;
    border-radius: 25px;
    font-weight: bold;
    border: none;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.2s;
}

    .btn-veja-tudo:hover {
        background-color: var(--azul-medio);
        color: white;
    }
    
/* Seção Sobre Nós */
.about-section {
    background-color: var(--azul-claro);
    padding: 60px 0;
    margin-top: 55px;
    border-radius: 15px;
}

.fachadaImg {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
}

.col-md-8{
    padding-right: 45px;
}

/*Seção de Cardapio = Igual do products*/